footer {
  flex: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0 40px;
  border-top: 2px solid #1e1e1e;
}

a {
  color: #999999;
}

.router-link-active {
  color: #ffffff;
}
