.progress {
  position: absolute;
  inset: 24px 8px auto;
}

.progress::after {
  content: "";
  display: block;
  width: 50%;
  height: 8px;
  background: #1e1e1e;
  border-radius: 999px;
  transition-duration: 0.5s;
}

.progress.second::after {
  width: 100%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  padding: 64px 8px 16px;
}

img {
  max-height: 128px;
}

h1 {
  font-weight: 500;
  font-size: 24px;
}

h2 {
  line-height: 150%;
  color: #999999;
}

form {
  display: flex;
  flex-direction: column;
  padding: 16px 8px 64px;
  gap: 12px;
}

input {
  height: 48px;
  padding: 0 16px;
  background: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 12px;
}

select {
  height: 48px;
  padding: 0 16px;
  background: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 12px;
  appearance: none;
}

button {
  height: 48px;
  padding: 0 16px;
  background: #1e1e1e;
  border-radius: 12px;
  font-weight: 500;
}
